<!--
# Eraser: Maggie Zhao & Jiajie Mai
# SoftDev1 pd7
# K15: Oh yes, perhaps I do…  
# 2018-10-02
-->

{% extends "base.html" %}

<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    <title> {% block title %} Welcome! {% endblock %} </title>
    {% endblock %}

  </head>

  <body>
    {% block content %}
    <p>  Hello <b> {{username}}</b>! I'm Rick Harrison, and this is my pawn shop. I work here with my old man and my son, Big Hoss. Everything in here has a story and a price. One thing I've learned after 21 years - you never know what is gonna come through that door.</p>
    <form action = "logout">
      <input type = "submit" name = "logout" >
    </form>
    {% endblock %}

    {% block footer %}
    {{ super() }}
    {% endblock %}
  </body>
</html>
